.container {
  padding: 0 4px;
  display: grid;
  grid-template-columns: minmax(0, 524px) minmax(0, 540px);
  gap: 25px;
  justify-content: space-between;
}

.Benefits {
}
.textItem {
  margin-bottom: 25px;
}
.text {
  margin-left: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.69%;
  color: #E7E7E7;
  /* identical to box height, or 26px */

  color: #e7e7e7;
}

.checkMark {
  display: inline-block !important;
  min-height: 20px;
  min-width: 20px;
  max-width: 20px;
  max-height: 20px;
}

/* media queries */

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
  .Benefits {
    margin: 0 auto;
  }
  .demoImgContainer {
    margin: 0 auto;
  }
}
